body {
  background-color: #F6F6F6;
}

.logo {
  width:140px;
}

.left-side ul {
  list-style-type: none;
}
.left-side p {
  color:gray;
}

.main-nav li {
  text-indent: -2em;
}

.main-nav {
  margin-top: 15px;
  margin-left: -4px;
  border-bottom: 1px solid lightgray;
}

.side-list li{
  text-indent: -2em;
}
.list {
  margin-top: -.5em;
}
.section {
  border-bottom: 1px solid lightgray;
  padding-top: 2px;
}

.user-status {
  float: right;
  margin: 3px;
  margin-right: 7px;
}

.container {
  margin-top: 10px;
  border-top: none;
}

.tab {
  background-color: white;
  border-left: 1px solid blue;
}
.bottom {
  padding-top: 20px;
  background-color: white;
  margin-top: -1px;
}
.left-wiki {
  text-align: center;
  margin-left: -100px;
}

.left-wiki h2 {
  font-size: 150%;
}

.left-wiki p {
  font-size: 90%;
}

.right-wiki {
  padding-top: 2.5rem;
  margin-right: -2rem;
}

.wiki {
  margin-left: 2rem;
  border: 1px solid gray;
  background-color: #F9F9F9;
}

.left-article {
  background-color: #F5FFFA;
  border: 1px solid #CEF2E0;
  margin-top: 1rem;
  margin-left: 3.5rem;
}

.left-article h3 {
  background-color: #CEF2E0;
  border: 1px solid #A3BFB1;
  margin-top: 1rem;
  font-size: 1.75rem;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.right-article {
  width: 457.2px;
  background-color: #F5FAFF;
  border: 1px solid #CEDFF2;
  margin-top: 1rem;
  margin-left: 1rem;
  padding-bottom: 5rem;
}

.right-article h3 {
  background-color: #CEDFF2;
  border: 1px solid #A3B0BF;
  margin-top: 1rem;
  font-size: 1.75rem;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
